<div class="row wrap gap-1 space-between mt-10">
  <!-- Name -->
  <div class="column">
    <label for="name">Name</label>
    <input pInputText id="name" [(ngModel)]="character.name" />
  </div>
  <!-- Kin -->
  <div class="column">
    <label for="kin">Kin</label>
    <p-inputGroup id="kin" class="column">
      <button
        type="button"
        pButton
        (click)="kinOverlay.toggle($event)"
        [disabled]="!character.kin"
      >
        <i class="pi pi-question-circle"></i>
      </button>
      <p-overlayPanel #kinOverlay>
        <div *ngIf="character.kin" class="overlay gap-1">
          <h2>Description</h2>
          <span class="row">{{ character.kin.description }}</span>
          <br />
          <h3>Movement speed</h3>
          <span class="row">{{
            "This kin has a base movement speed of " +
              character.kin.baseMovement +
              "."
          }}</span>
        </div>
      </p-overlayPanel>
      <p-dropdown
        id="kin"
        [options]="kinList"
        [(ngModel)]="character.kin"
        placeholder="Select Kin"
        [editable]="true"
        optionLabel="name"
        (onChange)="changes($event)"
      />
    </p-inputGroup>
  </div>
  <div class="column">
    <label for="profession">Profession</label>
    <p-dropdown
      id="profession"
      [options]="professionList"
      [(ngModel)]="character.profession"
      placeholder="Select profession"
      [editable]="true"
      (onChange)="changes($event)"
    />
  </div>
  <!-- Kin -->
  <div class="column">
    <label for="weakness">Weakness</label>
    <p-inputGroup id="weakness" class="column">
      <button
        type="button"
        pButton
        (click)="weaknessOverlay.toggle($event)"
        [disabled]="!character.weakness"
      >
        <i class="pi pi-question-circle"></i>
      </button>
      <p-overlayPanel #weaknessOverlay>
        <div *ngIf="character.kin" class="overlay gap-1">
          <h2>Description</h2>
          <span class="row">{{ character.weakness.description }}</span>
        </div>
      </p-overlayPanel>
      <p-dropdown
        id="kin"
        [options]="weaknessList"
        [(ngModel)]="character.weakness"
        placeholder="Select Weakness"
        [editable]="true"
        optionLabel="name"
        (onChange)="changes($event)"
      />
    </p-inputGroup>
  </div>
</div>
