.ability-column {
  ::ng-deep {
    .p-divider {
      margin: 5px 0px !important;
    }
  }

  .ability-header {
    position: relative;
    width: 100%;

    .header-texts {
      font-size: 17px;
      white-space: nowrap; // Prevents wrapping of text
      overflow: hidden;
      text-overflow: ellipsis;

      &.wp-cost {
        flex: 1;
      }

      &.ability-name {
        flex: 5;
      }

      &.info-column {
        flex: 1;
      }
    }
  }
}

.info-buttons {
  margin-right: 22px;
  ::ng-deep {
    .p-button {
      width: 28px;
      padding: 3px 3px !important;
      box-shadow: none !important;
    }
  }
}

.colored-divider {
  ::ng-deep {
    .p-divider {
      border-top: 1px solid var(--border-colour);
      margin: 10px 0px;
    }
  }
}
