<div class="skill-list-card">
  <p-card class="background">
    <!-- Weapon skills -->
    <h3>Weapon Skills</h3>
    <p-divider />
    <div class="row wrap space-between">
      <div class="column wrap skill-column">
        <div class="row space-between skill-header gap-1">
          <span class="header-texts">Trn.</span>
          <span class="header-texts">Mod</span>
          <span class="header-texts skill-name">Skill</span>
          <span class="header-texts">Adv.</span>
        </div>
        <p-divider />

        <div *ngFor="let skill of character.skills | slice:0:5">
          <app-skill-display
            [skill]="skill"
            [relatedAttributeModifier]="utilityService.getAttributeMod(skill.relatedAttribute, character)"
          >
          </app-skill-display>
        </div>
      </div>
      <p-divider layout="vertical" />
      <div class="column wrap skill-column">
        <div class="row space-between skill-header gap-1">
          <span class="header-texts">Trn.</span>
          <span class="header-texts">Mod</span>
          <span class="header-texts skill-name">Skill</span>
          <span class="header-texts">Adv.</span>
        </div>
        <p-divider />

        <div *ngFor="let skill of character.skills | slice:5:10">
          <app-skill-display
            [skill]="skill"
            [relatedAttributeModifier]="utilityService.getAttributeMod(skill.relatedAttribute, character)"
          >
          </app-skill-display>
        </div>
      </div>
    </div>
    <h3 class="mt-10">Core Skills</h3>
    <p-divider />
    <div class="row wrap space-between">
      <div class="column wrap skill-column">
        <div class="row space-between skill-header gap-1">
          <span class="header-texts">Trn.</span>
          <span class="header-texts">Mod</span>
          <span class="header-texts skill-name">Skill</span>
          <span class="header-texts">Adv.</span>
        </div>
        <p-divider />

        <div *ngFor="let skill of character.skills | slice:10:20">
          <app-skill-display
            [skill]="skill"
            [relatedAttributeModifier]="utilityService.getAttributeMod(skill.relatedAttribute, character)"
          >
          </app-skill-display>
        </div>
      </div>
      <p-divider layout="vertical" />
      <div class="column wrap skill-column">
        <div class="row space-between skill-header gap-1">
          <span class="header-texts">Trn.</span>
          <span class="header-texts">Mod</span>
          <span class="header-texts skill-name">Skill</span>
          <span class="header-texts">Adv.</span>
        </div>
        <p-divider />

        <div *ngFor="let skill of character.skills | slice:20">
          <app-skill-display
            [skill]="skill"
            [relatedAttributeModifier]="utilityService.getAttributeMod(skill.relatedAttribute, character)"
          >
          </app-skill-display>
        </div>
      </div>
    </div>
  </p-card>
</div>
