<div *ngIf="character" class="sheet-root">
  <app-essential-info-display
    [character]="character"
    (changeEmitter)="saveChanges()"
  ></app-essential-info-display>
  <div class="row">
    <!-- Attributes -->
    <app-attribute-display
      [attribute]="character.strength"
      [(condition)]="character.exhausted"
      (conditionChange)="saveChanges()"
    ></app-attribute-display>
    <app-attribute-display
      [attribute]="character.constitution"
      [(condition)]="character.sickly"
      (conditionChange)="saveChanges()"
    ></app-attribute-display>
    <app-attribute-display
      [attribute]="character.agillity"
      [(condition)]="character.dazed"
      (conditionChange)="saveChanges()"
    ></app-attribute-display>
    <app-attribute-display
      [attribute]="character.intelligence"
      [(condition)]="character.angry"
      (conditionChange)="saveChanges()"
    ></app-attribute-display>
    <app-attribute-display
      [attribute]="character.willpower"
      [(condition)]="character.scared"
      (conditionChange)="saveChanges()"
    ></app-attribute-display>
    <app-attribute-display
      [attribute]="character.charisma"
      [(condition)]="character.disheartened"
      (conditionChange)="saveChanges()"
    ></app-attribute-display>

    <!-- Rests -->
    <div class="rest-card">
      <p-card class="background"></p-card>
      <div class="texts">
        <span class="title">Rests</span>
        <div class="column gap-05 center-50">
          <p-checkbox
            [(ngModel)]="character.roundRest"
            [binary]="true"
            label="Round"
            (onChange)="saveChanges()"
          />
          <p-checkbox
            [(ngModel)]="character.stretchRest"
            [binary]="true"
            label="Stretch"
            (onChange)="saveChanges()"
          />
        </div>
      </div>
    </div>

    <!-- Information -->
    <div class="info-card">
      <p-card class="background"> </p-card>
      <div class="texts">
        <span class="title">Info</span>
        <div class="column center-50 mt-10">
          <span class="damage-text">{{ "AGL: " + getAgilityBonus() }}</span>
          <span class="damage-text">{{ "STR: " + getStrengthBonus() }}</span>
          <span class="damage-text">{{ "MVS: " + getMovementSpeed() }}</span>
        </div>
      </div>
    </div>

    <!-- HP/WP -->
    <app-hp-wp-display [character]="character" (changeEmitter)="saveChanges()">
    </app-hp-wp-display>
  </div>
  <div class="row mt-10">
    <app-skill-collection-display
      [character]="character"
      (skillsUpdated)="saveChanges()"
    >
    </app-skill-collection-display>
    <div class="abilities-inventory-card">
      <p-card class="background">
        <p-tabView>
          <p-tabPanel header="Inventory">
            <p>Lorem ipsum dolor sit amet...</p>
          </p-tabPanel>
          <p-tabPanel header="Abilities">
            <app-ability-display [character]="character" (changeEmitter)="saveChanges()"> </app-ability-display>
          </p-tabPanel>
          <p-tabPanel
            [disabled]="character.profession !== 'Mage'"
            header="Magic"
          >
            <p>At vero eos et accusamus et iusto odio dignissimos...</p>
          </p-tabPanel>
        </p-tabView>
      </p-card>
    </div>
  </div>
</div>
