<div *ngIf="character" class="sheet-root">
  <app-essential-info-display
    [character]="character"
    (changeEmitter)="saveChanges()"
  ></app-essential-info-display>
  <div class="row">
    <!-- Attributes -->
    <app-attribute-display
      [attribute]="character.strength"
      [(condition)]="character.exhausted"
      (conditionChange)="saveChanges()"
    ></app-attribute-display>
    <app-attribute-display
      [attribute]="character.constitution"
      [(condition)]="character.sickly"
      (conditionChange)="saveChanges()"
    ></app-attribute-display>
    <app-attribute-display
      [attribute]="character.agillity"
      [(condition)]="character.dazed"
      (conditionChange)="saveChanges()"
    ></app-attribute-display>
    <app-attribute-display
      [attribute]="character.intelligence"
      [(condition)]="character.angry"
      (conditionChange)="saveChanges()"
    ></app-attribute-display>
    <app-attribute-display
      [attribute]="character.willpower"
      [(condition)]="character.scared"
      (conditionChange)="saveChanges()"
    ></app-attribute-display>
    <app-attribute-display
      [attribute]="character.charisma"
      [(condition)]="character.disheartened"
      (conditionChange)="saveChanges()"
    ></app-attribute-display>

    <!-- Movement Speed -->
    <div class="movement-card">
      <p-card class="background"> </p-card>
      <div class="texts">
        <span class="title">Movement</span>
        <p-button
          label="{{ getMovementSpeed() }}"
          [outlined]="true"
          size="large"
        />
      </div>
    </div>

    <!-- Damage bonus -->
    <div class="damage-card">
      <p-card class="background"> </p-card>
      <div class="texts">
        <span class="title">Dmg Bonus</span>
        <div class="column center-50 mt-10">
          <span class="damage-text">{{ "AGL: " + getAgilityBonus() }}</span>
          <span class="damage-text">{{ "STR: " + getStrengthBonus() }}</span>
        </div>
      </div>
    </div>

    <!-- HP/WP -->
    <app-hp-wp-display [character]="character" (changeEmitter)="saveChanges()">
    </app-hp-wp-display>
  </div>
</div>
